[Desktop Entry]
Name=Day
Comment=Clock, calendar, world clocks, stopwatch and timer for the COSMIC panel
Type=Application
Exec=day
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Date;Time;Calendar;
Icon=io.github.hojjatabdollahi.day
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
